{{ define "assignment" }} {{ template "base" . }}

<main class="container">
  <h2>Daftar Tugas</h2>
  <table>
    <thead>
      <tr>
        <th>Judul</th>
        <th>Deskripsi</th>
        <th>Deadline</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {{range .Assignments }}
      <tr>
        <td>{{.Title}}</td>
        <td>{{.Description}}</td>
        <td>{{.Deadline}}</td>
        <td>
          <form action="/user/submit-form" method="GET" style="margin: 0">
            <input type="hidden" name="assignment_id" value="{{.ID}}" />
            <button type="submit">Kumpulkan</button>
          </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</main>

{{ template "footer" . }} {{ template "lastfooter" . }} {{ end }}
