{{ define "grade_detail" }} {{ template "base" . }}

<main class="container">
  <h2>Daftar Mahasiwa</h2>
  {{if .Submissions}}
  <table>
    <thead>
      <tr>
        <th>Judul</th>
        <th>Nama Mahasiswa</th>
        <th>Deadline</th>
        <th>Submitted At</th>
        <th>File Tugas</th>
        <th>Grade</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {{range .Submissions }}
      <tr>
        <td>{{.AssignmentTitle}}</td>
        <td>{{.StudentName}}</td>
        <td>{{.Deadline}}</td>
        <td>{{.SubmittedAt}}</td>
        <td><a href="{{.FileURL}}">Lihat File</a></td>
        <td>{{with .Grade}} {{.}} {{else}} 0 {{end}}</td>
        <td>
          <form action="/user/grade-form" method="GET" style="margin: 0">
            <input
              type="hidden"
              name="assignment_id"
              value="{{.AssignmentID}}"
            />
            <button type="submit">Edit Nilai</button>
          </form>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{else}}
  <p style="text-align: center">data tidak ada</p>
  {{end}}
</main>

{{ template "footer" . }} {{ template "lastfooter" . }} {{ end }}
